#titreBlog, #piedBlog {
  text-align: center;
}

.jumbotron{
    background-image:url(img/mainpic.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titre{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;

}

.Iam {
    padding: 2em 5em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
}
.Iam .innerIam {
  display: inline-block;
  color: #10be00;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
    -moz-animation:move 5s;
    -ms-animation:move 5s;
      -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
      -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -ms-animation-delay:1s;
      -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
}

.logo-site{
  max-width : 130px;
  height: auto;
  display: block;
  margin-top: -1px; 

}
article{


}

h4 {
  color: orangered;
}

.divsize {
  width: 170px;
  height: 300px;
  border: 1px solid darkgrey;
  box-sizing: border-box;
}
